[core]
  excludesfile = ~/.gitignore_global
	editor = subl -n -w
[user]
  email = me@stevegrossi.com
  name = Steve Grossi
[push]
	default = simple
[alias]
	search = "!f() { git log --grep=$1; }; f"
	cp = cherry-pick
[grep]
	extendRegexp = true
