[core]
  excludesfile = ~/.gitignore_global
	editor = subl -n -w
	filemode = false
[user]
  email = me@stevegrossi.com
  name = Steve Grossi
[push]
	default = simple
[alias]
	search = "!f() { git log --grep=$1; }; f"
	cp = cherry-pick
  cleanup = "!git remote prune origin && git branch --merged | grep  -v '\\*\\|master\\|production\\|staging' | xargs -n 1 git branch -d"
[grep]
	extendRegexp = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
